/* Changing default styls of the browser */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #80ed99;

}
/* Navbar  */

.navbar {
    display: flex;
    justify-content: space-between;
  color: #fffffc;
  padding: 25px 60px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar h2 {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}


.cart {
    position: relative;
    background-color: white;
    color: #80ed99;
    padding: 5px;
    font-size: 32px;
    border-radius: 4px;
}

.cartAmount {
    position: absolute;
    font-size: 16px;
    background-color: red;
    color: white;
    right: -10px;
    top: -15px;
    padding: 3px;
    border-radius: 3px;
}

/* Shop */

.shop {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: space-around;
}

.row {
    display: flex;
}

.item{
    margin: 25px auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
}
.item img {
    width: 250px;
    height: 200px;
    border-radius: 30px;
}

.details {
    display: flex;
    justify-content: space-evenly;
}